body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
}

img {
  height:1920px;
  width:1080px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  color #fff;
  font-weight: bold;
}

#maximage {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#maximage > img {
  height:100%;
  width:100%;
}

#maximage h1 {
  margin: 0 auto;
}

.banner {
  width: 450px;
  height: 450px;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}

.info {
  position: fixed;
  bottom: 3em;
  right: 3.5em;
  padding: 0.85rem;
  height: auto;
}

.info > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
}
